CREATING LIST

In [23]:
my_list1 = [1,2,3,4,5,6,7,8,9,10]

In [24]:
elements= my_list1[0]
elements

1

In [25]:
#my_list1.remove()
my_list1.pop(2)
my_list1

[1, 2, 4, 5, 6, 7, 8, 9, 10]

In [26]:
#to add an element
my_list1.append(20)
my_list1

[1, 2, 4, 5, 6, 7, 8, 9, 10, 20]

In [27]:
#to reverse an element  
my_list1.reverse()
my_list1

[20, 10, 9, 8, 7, 6, 5, 4, 2, 1]

In [28]:
my_list1.clear()
my_list1

[]

CREATING DICTIONARIES

In [29]:
my_dict1 = {'Name': 'Moaksha', 
            'Age': 20,
            'City':'Panipat'}
my_dict1

{'Name': 'Moaksha', 'Age': 20, 'City': 'Panipat'}

In [30]:
#accesing the values from the dictionary using keys
value=my_dict1['Name']
value

'Moaksha'

In [31]:
#adding values
my_dict1['Gender'] = 'Female'
my_dict1['Education'] = 'Undergraduate'
my_dict1['Number'] = '4857912586'
my_dict1

{'Name': 'Moaksha',
 'Age': 20,
 'City': 'Panipat',
 'Gender': 'Female',
 'Education': 'Undergraduate',
 'Number': '4857912586'}

In [32]:
#removing values
del my_dict1['Education']
#my_dict1.clear()  # Removes all entries
my_dict1

{'Name': 'Moaksha',
 'Age': 20,
 'City': 'Panipat',
 'Gender': 'Female',
 'Number': '4857912586'}

In [33]:
#merging dictionaries
my_dict1
my_dict2 =  {'Name': 'Mishi', 
            'Age': 22,
            'City':'Sonipat'}
my_dict2

{'Name': 'Mishi', 'Age': 22, 'City': 'Sonipat'}

In [34]:
#Modifying dictionaries
merged_dict = my_dict1 | my_dict2
merged_dict

{'Name': 'Mishi',
 'Age': 22,
 'City': 'Sonipat',
 'Gender': 'Female',
 'Number': '4857912586'}

In [35]:
my_dict1.update(my_dict2)
my_dict1

{'Name': 'Mishi',
 'Age': 22,
 'City': 'Sonipat',
 'Gender': 'Female',
 'Number': '4857912586'}

CREATING SET

In [36]:
my_set1 = {1,2,3,4,5,6,7,8,9}
my_set1

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [40]:
#adding elements
my_set1.add(4)

my_set1.update({11, 12}, {13, 14})  

my_set1

{1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 12, 13, 14}

In [41]:
#removing elements
my_set1.remove(4) 

my_set1.discard(2)

my_set1

{1, 3, 5, 6, 7, 8, 9, 11, 12, 13, 14}

In [43]:
my_set2 = {3,5,6,9,14,15,23,2,20}
my_set2

{2, 3, 5, 6, 9, 14, 15, 20, 23}

In [45]:
#operations
union_set = my_set1 | my_set2
union_set

{1, 2, 3, 5, 6, 7, 8, 9, 11, 12, 13, 14, 15, 20, 23}

In [46]:
intersection_set = my_set1 & my_set2  
intersection_set

{3, 5, 6, 9, 14}

In [47]:
difference_set = my_set1 - my_set2
difference_set

{1, 7, 8, 11, 12, 13}